body{
  background-color: #ebfffb;
}
hr{
  background-color: white;
  border-style: dotted none none;
  height: 0px;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
h1{
  color: #27aa80;
}
h3{
  color: #27aa80;
}
